body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: "Verdana";
    /* font-family: 'Playfair Display'; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@tailwind base;
@tailwind components;
@tailwind utilities;




/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 4px; /* Change the width */
  height: 4px;
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: black; /* Scrollbar color */
  border-radius: 10px; /* Rounded edges (optional) */
  border: 2px solid transparent; /* To add some space around the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #0060b5;
   /* Darker scrollbar on hover */
}
